<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.30.8" targetFramework="net46" />
  <package id="AvalonEdit" version="5.0.2" targetFramework="net46" />
  <package id="Caliburn.Metro" version="0.5.0" targetFramework="net46" />
  <package id="Caliburn.Micro.Core" version="2.0.1" targetFramework="net46" />
  <package id="Caliburn.Micro.ReactiveUI" version="2.2.1" targetFramework="net46" />
  <package id="Ix-Main" version="1.2.3" targetFramework="net46" />
  <package id="MahApps.Metro" version="0.13.1.0" targetFramework="net46" />
  <package id="MahApps.Metro.Resources" version="0.2.1.0" targetFramework="net46" />
  <package id="Platform.NET" version="1.1.0.177" targetFramework="net46" />
  <package id="Platform.VirtualFileSystem" version="1.1.0.102" targetFramework="net46" />
  <package id="Platform.Xml.Serialization" version="1.1.0.177" targetFramework="net46" />
  <package id="reactiveui" version="6.4.0.1" targetFramework="net46" />
  <package id="reactiveui-core" version="6.4.0.1" targetFramework="net46" />
  <package id="reactiveui-events" version="6.5.0" targetFramework="net46" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net46" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net46" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net46" />
  <package id="SpicyTaco.AutoGrid" version="0.9.0.0" targetFramework="net46" />
  <package id="Splat" version="1.6.0" targetFramework="net46" />
  <package id="structuremap" version="3.1.4.143" targetFramework="net46" />
</packages>